.cardView, .cardEdit {
  display: flex;
  margin: 3px 0;
  padding:30px 15px;
  color: #fff;
  width: 100%;
  border-radius: 3px;
}
.cardView .cardValue i{
  flex: 1;
  margin-right: 10px;
  font-size: 20px;
}
.cardEdit input, .cardEdit ::placeholder {
  background: none;
  border: none;
  color: #fff;
  width: 100%;
}
.cardView .cardValue button, .cardEdit button {
  cursor: pointer;
  border: none;
  background: none;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 20px;
  margin: 0 1px;
}
