@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*:focus{
  outline: none;
}

body {
  margin: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,0.51);
  padding: 0 50px;
  color:#fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
